/* Global Styles */

body {
    background-color:#D9D4C5;
}

#container {
    background-color:#D9D4C5;
    padding: 30px;
    border: 5px solid #6F9CA6;
}

h1, h2, h3 {
    text-align: center;
    color: #4d3a03;
}


header h1 {
    text-align: center;
    font-size: 100px;
    color: #4d3a03;
    text-shadow: 2px 2px 2px
}

nav {
    text-align: center;
    color:#4d3a03;
}

nav a:hover {
    color:#4d3a03;
    text-decoration: none;
}

main img {
    display: block;
    width: 50%
    margin 20px auto;

}

a {
    color: #4d3a03;
}

a:hover {
    color:#4d3a03;
    text-decoration: none;
}

footer {
    padding: 40px 0;
    text-align: center;
}

h2 {
    text-align: center;
}

.button {
    display: block;
    background-color:#4d3a03;
    width: 125px;
    height: 30px;
    color:#6F9CA6
    text-decoration none
    text-align center
    line-height 30px
    margin-top 10px
}
/* Desktop Styles */

nav {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

header h1 {
    text-align: center;
    font-size: 100px;
    color: #4d3a03;

}

main {
    padding: 20px;
}

main img {
    width: 50%;
}

#lower {
    display: flex;
}

.col {
    padding: 10px;
    margin: 10px;
    border: 2px solid #4d3a03;
    width: 33.33%;
}